includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	ignoreErrors:
	ergebnis:
			classesAllowedToBeExtended:
				- DataGridTests\TestCaseAbstract
				- Hanaboso\DataGrid\GridFilterAbstract
			classesNotRequiredToBeAbstractOrFinal:
				- Hanaboso\DataGrid\GridRequestDto