includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	ignoreErrors:
		-
			message: '#Parameter \#1 \$classes of method #'
			path: tests/TestCaseAbstract.php
	ergebnis:
			classesAllowedToBeExtended:
				- DataGridTests\TestCaseAbstract
				- Hanaboso\DataGrid\GridFilterAbstract
			classesNotRequiredToBeAbstractOrFinal:
				- Hanaboso\DataGrid\GridRequestDto