includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	ignoreErrors:
		-
			message: '#Type mixed in generic type Doctrine\\ORM\\EntityRepository\<mixed\> in#'
			path:  src/GridFilterAbstract.php
		-
			message: '#Parameter \#1 \$classes of method#'
			path: tests/TestCaseAbstract.php
		-
			message: '#Parameter \#1 \$nestedDriver of method#'
			path: tests/TestCaseAbstract.php
	ergebnis:
			classesAllowedToBeExtended:
				- DataGridTests\TestCaseAbstract
				- Hanaboso\DataGrid\GridFilterAbstract
			classesNotRequiredToBeAbstractOrFinal:
				- Hanaboso\DataGrid\GridRequestDto
